.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 10%;
  background-color: indigo;
}

.navItemsList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-logo {
  height: 60px;
  width: 240px;
}
.nav-item {
  color: white;
  margin-left: 26px;
  font-size: 30px;
  font-family: Roboto;
}

.timer-Img {
  width: 30px;
  height: 30px;
  margin-left: 25px;
}
.nav-item-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
